In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/paiml/wine-ratings/main/wine-ratings.csv"

df = pd.read_csv(url)

In [4]:
wine_notes = df['notes']
wine_notes.head(4)

0    This is a very special, limited release of 100...
1    The California Gold Rush was a period of coura...
2    The California Gold Rush was a period of coura...
3    The wine has a deep, rich purple color. An int...
Name: notes, dtype: object

In [5]:
df[['name','rating']].head()

                                                name  rating
0  1000 Stories Bourbon Barrel Aged Batch Blue Ca...    91.0
1  1000 Stories Bourbon Barrel Aged Gold Rush Red...    89.0
2  1000 Stories Bourbon Barrel Aged Gold Rush Red...    90.0
3    1000 Stories Bourbon Barrel Aged Zinfandel 2013    91.0
4    1000 Stories Bourbon Barrel Aged Zinfandel 2014    90.0

In [7]:
# top rated 

df[df['rating']>96].head()

,Unnamed: 0,name,grape,region,variety,rating,notes
218,218,Abreu Vineyards Cappella 2010,NaN,"Napa Valley, California",Red Wine,98.0,Cappella is one of the oldest vineyard sites i...
220,220,Abreu Vineyards Howell Mountain 2009,NaN,"Howell Mountain, Napa Valley, California",Red Wine,98.0,"As a set of wines, it is hard to surpass the f..."
221,221,Abreu Vineyards Las Posadas Howell Mountain 2012,NaN,"Howell Mountain, Napa Valley, California",Red Wine,99.0,"At about 2000 feet elevation, Las Posadas sits..."
223,223,Abreu Vineyards Madrona Ranch 1996,NaN,"Napa Valley, California",Red Wine,98.0,Abreu Madrona Ranch is a blend of Cabernet Sau...
227,227,Abreu Vineyards Madrona Ranch 2005,NaN,"Napa Valley, California",Red Wine,98.0,Abreu Madrona Ranch is a blend of Cabernet Sau...

In [8]:
df['rating']>99

0        False
1        False
2        False
3        False
4        False
         ...
32775    False
32776    False
32777    False
32778    False
32779    False
Name: rating, Length: 32780, dtype: bool

In [9]:
# using query

df.query('rating>97').head()

,Unnamed: 0,name,grape,region,variety,rating,notes
218,218,Abreu Vineyards Cappella 2010,NaN,"Napa Valley, California",Red Wine,98.0,Cappella is one of the oldest vineyard sites i...
220,220,Abreu Vineyards Howell Mountain 2009,NaN,"Howell Mountain, Napa Valley, California",Red Wine,98.0,"As a set of wines, it is hard to surpass the f..."
221,221,Abreu Vineyards Las Posadas Howell Mountain 2012,NaN,"Howell Mountain, Napa Valley, California",Red Wine,99.0,"At about 2000 feet elevation, Las Posadas sits..."
223,223,Abreu Vineyards Madrona Ranch 1996,NaN,"Napa Valley, California",Red Wine,98.0,Abreu Madrona Ranch is a blend of Cabernet Sau...
227,227,Abreu Vineyards Madrona Ranch 2005,NaN,"Napa Valley, California",Red Wine,98.0,Abreu Madrona Ranch is a blend of Cabernet Sau...

In [11]:
df['variety_short'] = df['variety'].replace({"Red Wine": "R", "White Wine": "W"})
df.head()

,Unnamed: 0,name,grape,region,variety,rating,notes,variety_short
0,0,1000 Stories Bourbon Barrel Aged Batch Blue Ca...,NaN,"Mendocino, California",Red Wine,91.0,"This is a very special, limited release of 100...",R
1,1,1000 Stories Bourbon Barrel Aged Gold Rush Red...,NaN,California,Red Wine,89.0,The California Gold Rush was a period of coura...,R
2,2,1000 Stories Bourbon Barrel Aged Gold Rush Red...,NaN,California,Red Wine,90.0,The California Gold Rush was a period of coura...,R
3,3,1000 Stories Bourbon Barrel Aged Zinfandel 2013,NaN,"North Coast, California",Red Wine,91.0,"The wine has a deep, rich purple color. An int...",R
4,4,1000 Stories Bourbon Barrel Aged Zinfandel 2014,NaN,California,Red Wine,90.0,Batch #004 is the first release of the 2014 vi...,R